[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
polars = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
pyarrow = "*"
duckdb = "*"
scikit-learn = "*"
tensorflow = "*"
mlflow = "*"
pdoc = "*"
hydra-core = "*"

[dev-packages]

[requires]
python_version = "{{cookiecutter.python_version}}"
